.myTable {
    width: 100%;
    background-color: white;
    border-spacing: 0 10px;
    border-collapse: unset;
}
body{
    overflow: auto;
}

.topDiv{
    width: 95%;
    margin: auto;
}
#archiveDiv{
    margin: auto;
    width: 95%;
    padding-bottom: 40px;
    padding-top: 40px;
    display: none;

}
.bottomDiv{
    width: 95%;
    margin: auto;
}

thead {
    background-color: darkgray;
    color: white;
}

 tbody tr {
    background-color: lightgray;
 }
 th,td{
     border: none;
     padding:10px;
 }

.new_task_btn{
    float: right;
    margin-top: 15px;
    margin-bottom: 50px;
}
.view_archive_btn{
    float: right;
    margin-top: 15px;
    margin-bottom: 50px;
    margin-right: 10px;
}
.fa{
    margin-right: 10px;
}
#modal{
    position: fixed;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}